/* Colors */
/* #2e3190 */
/* rgb(46,49,144) */
/* #2F303A */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: #444;
}

h1 {
  font-size: 62px;
  margin-bottom: 32px;
  line-height: 1.15;
}

h2 {
  padding: 0;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  width: 100%;

  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 30px;
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.nav-sticky {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.9);
  transition: 1s;
  z-index: 1;
}

.nav-sticky div.languages {
  margin-left: auto;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(images/hero-cover-tbilisi.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.header-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
  border-radius: 10%;
  cursor: pointer;
}
.link:active,
.link:hover {
}

.about-us p {
  font-size: 1.25rem;
}

.doctors {
}

.doctor-list {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

.doctor-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 20px 20px;
}

.doctor-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-item p {
  color: #2f303a;
  font-size: 1.25rem;
}

@media (max-width: 680px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
    letter-spacing: 0.1rem;
    line-height: 1.15;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }

  nav {
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;
    gap: 5px;
    padding: 10px;
  }

  .nav-sticky {
    position: unset;
    z-index: 1;
  }

  .nav-sticky div.languages {
    margin-left: 0;
  }

  .about-us p {
    font-size: 1rem;
  }

  .doctor-item p {
    font-size: 1rem;
  }
}

.services {
}

.services-list {
  list-style: none;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(234px, 1fr)); */
  grid-template-columns: repeat(auto-fit, 234px);
  justify-content: center;
}

.service-item {
  height: 202px;
  width: 234px;
  background-color: aliceblue;
  position: relative;
  border: 1px solid #d7dfe2;
}

.service-item-bg {
  width: 232px;
  height: 200px;
  position: absolute;
}

.service-item a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: rgba(32, 26, 22, 0.5);
}

.service-item a:hover {
  background: rgba(32, 26, 22, 0.8);
}

.service-item a h4 {
  opacity: 1;
}

.service-item a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.service-item a:hover h4 {
  opacity: 0;
}

.service-item a:hover p {
  opacity: 1;
}

.service-item a::before,
.service-item a::after {
  content: "";
  top: 0.75em;
  left: 0.75em;
  right: 0.75em;
  bottom: 0.75em;
  position: absolute;
}

.service-item a::before {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
}

.service-item a:hover::before {
  transform: scale(1.05, 1);
}

.service-item a::after {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
}

.service-item a:hover::after {
  transform: scale(1, 1.05);
}

.service-item-info {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
}

.review-gallery {
  margin-top: 100px;
}

.carousel > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
  transition: 200ms display ease-in-out;
}

.slide > img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.slide[data-active] {
  display: inline-block;
}

.schedule {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  column-gap: 160px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.location {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.location p {
  font-size: 18px;
  color: #656f72;
  line-height: 2;
}

.office-hours {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.office-hours h3 {
  text-align: center;
}

.office-hours p {
  font-size: 18px;
  color: #656f72;
}

.week-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.office-hours-title {
  color: #4cacbc;
}

.location-title {
  color: #4cacbc;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.map > .actual-map iframe {
  width: 800px;
  height: 600px;
}

@media (max-width: 680px) {
  .map > .actual-map iframe {
    width: 400px;
    height: 300px;
  }
}

footer {
  margin-top: 60px;
  padding: 50px 100px;
  background-color: #2f303a;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-wrapper p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
}
