.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.map > .actual_map iframe {
  width: 800px;
  height: 600px;
}

@media (max-width: 680px) {
  .map > .actual_map iframe {
    width: 400px;
    height: 300px;
  }
}
